<title>Login Page </title>
        	 	<link rel="stylesheet" media="screen" href="static/bootstrap.min.css">
        	 	<link rel="stylesheet" href="static/bootstrap-theme.min.css">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="container">
<h2>Welcome to Zhengli(b)</h2>
  <h4>Let's organize your books!</h4>

<form action="http://127.0.0.1:5000/dashboard" method="post" role="form">

<div class="form-group">
 <label for="email">Email:</label>
  <input type="text" class="form-control" id="email" name="email" \
         placeholder="Your email">
  <label for="password">Password:</label>
  <input type ="text" class="form-control" id="password" name="password" \
     placeholder="Password">
 </div>

<button type="submit" class="btn btn-success">Submit</button>
</form>
