<!DOCTYPE html>
<html>
  <head>
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.283.1.min.js"></script>
    <script src="./app.js"></script>
    <script>
       function getHtml(template) {
          return template.join('\n');
       }
       listAlbums();
    </script>
  </head>
  <body>

    <meta name="viewport" content = "width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media = "screen">
     <div class="container">
  <h1>The Bookshelf App</h1>
      <div id="app"></div>
    <p> Click <a href="/">here </a> to go home.</p>
    </div>
  </body>
</html>
